# {{ project_name }}

{{ description }}

## Dependencies


## Usage
When you begin working on this project, do the following:

    cd ~/Projects/thisproject/code
    source ../env/bin/activate      # Load the virutalenv for this project
    ./manage.py runserver           # Launch your server. Visit http://localhost:8000/

## Local Settings
System-specific settings are stored in `settings_local.py`


## Author
Created by [Your Name](http://example.com)

